body {
  background-color: #0E0E52;
}

.col-md-4 {
  border: 1px solid black;
  margin-top: 3%;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  background-color: #0E0E52;
  width: 100%;
}

.activeClick {
border: 5px solid black;
background-color: lightgray;
width: 100%;
height: 100%;
padding: 0;
}

.activeClick h1 {
  padding-top: 0;
  margin-top: 0;
}

#footer {
  text-align: center;
  color: white;
  font-size: 2em;
}